.c-hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  --progress: 10%;
  display: grid;
  place-items: center;
}

.c-hero_background {
  position: absolute;
  top: -35px;
  left: -35px;
  bottom: -15px;
  right: -15px;
}

.c-hero_content {
  width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  perspective: 100vw;
}

.c-hero_content_logo {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 20px;
  background-color: black;
  z-index: 1;

  border: 1px solid transparent;
  background-image: linear-gradient(var(--gradient-angle), gray 0%, white 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  display: grid;
  place-items: center;

  transform: rotateX(calc(var(--progress-y) * -5deg))
    rotateY(calc(var(--progress-x) * 5deg));

  &::before {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: 20px;
    padding: 0;
    z-index: -1;
    background: black;
    mask-composite: exclude;
  }

  h1 {
    font-size: 75px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1;
  }

  p {
    font-size: 12px;
    color: gray;
    padding: 0 10px;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-wrap: balance;
  }
}

.c-hero_content_links {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.c-hero_background_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
