.c-button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 25px;
  user-select: none;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    z-index: -1;
    border: 1px solid white;
    transition: transform 0.3s var(--bounce);
  }

  &:hover {
    &:nth-child(odd) {
      &::before {
        transform: scale3d(1.2, 1.2, 1) rotate(4deg);
      }
    }

    &:nth-child(even) {
      &::before {
        transform: scale3d(1.2, 1.2, 1) rotate(-4deg);
      }
    }
  }
}
