:root {
  --black: #000000;
  --white: #ffffff;
}

html {
  font-family: Arial;
  color: var(--black);
  font-family: 'Delight Regular';

  ::selection {
    background-color: var(--white);
    color: var(--black);
  }
}

body {
}

a {
  color: currentColor;
}

@font-face {
  font-family: 'Delight Regular';
  src:
    url('/assets/fonts/Delight-Regular.woff2') format('woff2'),
    url('/assets/fonts/Delight-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
