.c-hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: repeat(10, 1fr);
  --progress: 10%;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(10, 1fr);
    /* grid-auto-rows: repeat(10, 1fr); */
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.c-hero_item {
  --alpha: 1;

  font-size: min(4vw, 4vh);
  padding: 10px;
  text-align: center;

  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate3d(-50%, -50%, 0);
    color: transparent;
  }

  .c-hero.mode-0 & {
    span {
      background: linear-gradient(
        var(--angle),
        black,
        rgba(255, 255, 255, var(--alpha)) var(--progress),
        black
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .c-hero.mode-1 & {
    background: linear-gradient(
      var(--angle),
      black,
      rgba(255, 255, 255, var(--alpha)) var(--progress),
      black
    );
  }
}
